/* FONTS */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_28pt-SemiBold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-Light.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-LightItalic.ttf') format('ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_28pt-SemiBoldItalic.ttf') format('ttf');
    font-weight:700;
    font-style: italic;
}

@font-face {
    font-family: 'InterB';
    src: url('../fonts/Inter_18pt-Bold.ttf') format('ttf');
    font-weight:700;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: white;
    background-color:#010409
}

.navbar {
    background-color: #151B23;
    border: 1px lightgray ;
    overflow: hidden;
    position:fixed;
    top: 0%;
    left: 0%;
    width:100%;
    z-index: 1000;
}

.navbar form{
    display: inline-block;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;

    transition: 0.2s;
}

.content {
    margin-top: 70px;
    padding-top: 30px ;
    padding-left: 80px;
}

.navbar ul li a:hover {
    background-color: white;
    color: rgb(0, 0, 0);
}

.navbar ul li input{
    display:inline-block;
    width: 500px;
    height: 30px;
    border-radius: 13px;
    background-color: #010409;
    color: white;
    transition: 0.25s ;
}

.navbar ul li input::placeholder { 
    text-align: center;
}

.navbar ul li input:hover, .navbar ul li input:focus{
    width: 800px;
    color: white;
    text-align: center;
}

body {
    font-family: 'Inter', sans-serif;
}

h3, h1 {
    text-align: justify; /* Para justificar el texto, si es necesario */
}   

.profile-pic {
    width: 150px; /* Puedes ajustar el tamaño según sea necesario */
    height: 150px;
    border-radius: 50%; /* Esto crea la forma circular */
    object-fit: cover; /* Para asegurarse de que la imagen no se deforme */
    border: 3px solid #ddd; /* Un borde opcional */

    float: left;       
    margin-right: 50px;          
}

.user-data h1, h2 {
    display: inline-block;
    margin-right: 10px;
}

.user-data #id{
    color: gray;
}

.user-data #mail{
    display: block;
}

.r-s {
    margin-top: 70px;
    padding-top: 30px ;
    padding-left: 80px;
}

.reviews {
    width: 48%;
    height: auto;
    display: inline-block;
    border: 1px solid lightgray;
    color: white;
    border-radius: 12px;
    margin-left: 10px;
    padding: 15px 10px;
    vertical-align: top;
}

.review *{
    background-color: #151B23;
}

.review{
    background-color: #151B23;
}

.saved {
    width: 48%;
    height: auto;
    display: inline-block;
    border: 1px solid;
    border-radius: 12px;
    padding: 15px 10px;
    vertical-align: top;
}

.reviews h3, .saved h3{
    padding-bottom: 20px;
}

.reviews .sec{
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 10px;
}

.prod *{
    background-color: #151B23;
}

.prod{
    background-color: #151B23;
}

.review, .save{
    padding: 6px 6px;
    margin: 6px 6px;
    border-radius: 12px;
    border: 1px solid;

}

.saved a{
    text-decoration: none;
    color: white;
}

.prod:hover *, .prod:hover{
    background-color: #0d82cf;
}

.themeB button{
    background-color: #151B23;
    color: white;
    border: 1px solid lightgray;
    display: block;
    border-radius: 12px;
    width: 120px;
    height: auto;
    padding: 5px 5px;
    margin-top: 10px;
    transition: 0.2s;
}

.themeB button:hover{
    background-color: #0d82cf;
    color: white;
    width: 150px;
}
