* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.navbar {
    background-color: #142936;
    overflow: hidden;
    position:fixed;
    top: 0%;
    left: 0%;
    width:100%;
    z-index: 1000;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;

    transition: 0.2s;
}

.content {
    margin-top: 70px;
    padding: 20px;
}

.navbar ul li a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.navbar ul li input{
    display:inline-block;
    width: 500px;
    height: 30px;
    border-radius: 13px;
    background-color: #142936;
    color: rgb(255, 255, 255);
    transition: 0.25s ;
}

.navbar ul li input::placeholder { 
    color:white;
    text-align: center;
}

.navbar ul li input:hover, .navbar ul li input:focus{
    width: 800px;
    color: white;
    text-align: center;
}

.pr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.presentation {
    width: 1200px;
    height: 600px;
    border-radius: 20px;
    align-content: center;
    align-items: center;
    padding:200px;
    background-color: #1c3c50;
    color: white;
}

.presentation p, .presentation h1, .presentation a{
    background-color: #1c3c50;
}
