<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navS.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/adminS.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/icon.png') }}" type="image/x-icon">
    <title>Panel Admin</title>
</head>
<body class="theme-{{ theme }}">

    {% include 'navbar.html' %}

    <div class="content">

        <h1> Página de Administrador </h1>

        <div class="add-product">
            <details class="det-add">
                <summary class="sum"> Agregar producto </summary>
                <form action="/upload_product" method="POST" enctype="multipart/form-data" id="upload">
                    <input type="text" placeholder="Nombre" name="nombre" class="fR">
                    <input type="text" placeholder="Precio" name="precio" class="fR">
                    <input type="text" placeholder="dimensiones" name="dimen" class="fR">
                    <input type="text" placeholder="peso" name="peso" class="fR"> 
                    <textarea cols="50" rows="4" placeholder="Descripción" name="desc"></textarea>
                    <input type="file" name="file">
                    <input type="submit" value="Subir">
                </form>
            </details>
            
        </div>

        <div class="del-product">
            <details class="det-add">
            <summary class="sum"> Eliminar producto </summary>
            <div class="products">
            {% for product in products %}
                <form action="delete-product" method="POST" >
                    <input type="hidden" name="id" value="{{product[0]}}">
                     <button type="submit" class="producto"> {{product[0]}} | {{product[1]}} </button> 
                    </form>
            {% endfor %}
        </div>
            </details>
        </div>

        <div class="top-product">
            <details class="det-add">
            <summary class="sum"> Productos Destacados </summary>
            <div class="tops">
            <form action="/top-products" method="POST">
            <input type="text" name="id_1" value="{{ top[0] }}">
            <input type="text" name="id_2" value="{{ top[1] }}">
            <input type="text" name="id_3" value="{{ top[2] }}">
            <button type="submit"> Editar </button>
            </form>
        </div>
            </details>
        </div>

        
    </div>

    <script src="{{ url_for('static', filename='js/upProd.js') }}"></script>

    
</body>
</html>