<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navS.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/cartS.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/icon.png') }}" type="image/x-icon">
    <title>Carrito</title>
</head>
<body class="theme-{{ theme }}">
    {% include 'navbar.html' %}

    <div class="content">
        <h2 id="title"> Carrito de compra </h2>
        <hr>
        <h2 id="No"> Productos: </h2>
        <h2 id="No"> {{ is_prod }} </h2>
        {% if is_prod %}
            {% for product in cart %}
                <div class="product">
                    <img src="{{ url_for('static', filename='Uploaded_img/' + product[0]|string + '.png') }}">
                    <div class="product-data">
                    <h3> {{ product[1] }} </h3>
                    <h3> ${{ product[2] }} x {{ product[3] }} = ${{ product[4] }} </h3>
                    <form action="/del-cart" method="POST" id="delete_{{ product[0] }}">
                        <input type="hidden" name="id" value="{{ product[0] }}">
                         <button type="submit"> Eliminar del carrito </button> 
                    </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h3> No tienes productos agregados </h3>
        {% endif %}

        <form id="pay">
            <button type="submit"> Pagar </button>
        </form>
    </div>

</body>
</html>