<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='indexS.css') }}">
</head>
<body>
    
        <nav class="navbar">
            <ul>
        {% if user.auth %}
            <li><a href="http://localhost:5000/user"> Perfil </a></li>
        {% else %}
            <li><a href="http://localhost:5000/login" > Iniciar Sesión </a></li>
            <li><a href="http://localhost:5000/register" > Registrar Usuario </a></li>
        {% endif %}
            </ul>
        </nav>
    
</body>
</html>