<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    {% if theme == 0 %}
        <link rel="stylesheet" href="{{ url_for('static', filename='indexS.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='indexSD.css') }}">
    {% endif %}
</head>
<body>
    
        <nav class="navbar">
            <ul>
            <li> <input type="search" placeholder="🔎 Buscar"> </li>
            <li> <a href="#About"> Acerca de </a> </li>
        {% if user %}
            <li><a href="http://localhost:5000/user"> Perfil </a></li>
            <li> <a href="http://localhost:5000/logout"> Cerrar Sesión </a> </li>
        {% else %}
            <li><a href="http://localhost:5000/login" > Iniciar Sesión </a></li>
            <li><a href="http://localhost:5000/register" > Registrar Usuario </a></li>
        {% endif %}
            
            </ul>
        </nav>

        <div class="content">
            <div class="pr">
                <div class="presentation">
                    <h1> Tarimera </h1>
                    <p> Descripción </p>
                    <a> Contactanos </a>
                </div>
            </div>
        </div>
    
</body>
</html>