<!DOCTYPE html>
<html lang="ens">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='formsStyles.css') }}">
    <link rel="icon" href="icon.png" type="image/x-icon">

</head>
<body>
    <form method="POST" class="form-box">
        <h2 class="title"> Iniciar Sesión </h2>
        <input type="text" name="username" maxlength="50" placeholder="Nombre de Usuario">
        <input type="password" name="password" maxlength="19" placeholder="Contraseña">
        <button type="submit"> Iniciar Sesión </button>
    </form>
</body>
</html>