<header>
    <nav class="navbar" id="navbar">
        <div class="left">
            <a href="/"> Logo </a> 
       </div>

       <div class="center">
            <form action="/search-p" method="POST">
            <input type="search" name="search" placeholder="🔎 Buscar" autocomplete="off"> 
            <button type="submit" style="opacity: 0;"></button> 
           </form>
       </div>

       <div class="right">
            {% if user %}
                {% if user.id == 0 %}
                    <a href="/admin"> Admin </a>
                {% endif %}
                    <a href="/cart"> 🛒 </a>
                    <a href="/user"> Perfil </a>
                    <a href="/logout" class="act"> Cerrar Sesión </a>
        
            {% else %}
                <a href="/login" class="act"> Iniciar Sesión </a>
                <a href="/register" class="act"> Registrar Usuario </a>
    {% endif %}
       </div>
    </nav>
    </header>