<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/prodS.css') }}">
    <title>{{ product.name }}</title>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="content">
        <img src="{{ url_for('static', filename='Uploaded_img/' + product.id|string + '.png') }}">

        <div class="product-data">
            <h1> {{ product.name }} </h1>
            <h2 #="peso"> $ </h2> <h2> {{ product.precio }} </h2>
            <h3> {{ product.desc }} </h3>
            <table border="1">
                <thead>
                <tr class="d">
                    <th> Dimensiones </th>
                    <th> Peso </th>
                </tr>
            </thead>
            <tbody>
                <tr class="data">
                    <th> {{ product.dimension }} </th>
                    <th> {{ product.peso }} kg </th>
                </tr>
            </tbody>
        </table>

        </div>
        
    </div>
    <div class="reviews">
        <h3> Reseñas: </h3>
        {% if reviews %}
            <ul>
            {% for review in reviews %}
                <li>
                    <h2> {{ review[2] }} </h2>
                    <h3> by: {{ review[0] }} Calificación: {{ review[4] }} </h3>
                    h4> {{ review[3] }} </h4>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <h3> No hay reseñas aún </h3>
        {% endif %}
    </div>
</body>
</html>