<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if theme == 0 %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/prodS.css') }}">
    {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='darkStyles/prodSD.css') }}">
    {% endif %}
    <link rel="icon" href="{{ url_for('static', filename='icons/icon.png') }}" type="image/x-icon">
    <title>{{ product.name }}</title>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="content">
        <img src="{{ url_for('static', filename='Uploaded_img/' + product.id|string + '.png') }}">

        <div class="product-data">
            <div class="first">
            <h1 class="fR"> {{ product.name }} </h1>
            {% if user %}
            <form action="{{ save }}" method="POST" id="save" class="fR">
                <button type="submit"> 📂 </button>
            </form>
            {% endif %}
            </div>
            <h2 id="peso"> $ </h2> <h2> {{ product.precio }} </h2>
            <h3> {{ product.desc }} </h3>
            <table border="1">
                <thead>
                <tr class="d">
                    <th> Dimensiones </th>
                    <th> Peso </th>
                </tr>
            </thead>
            <tbody>
                <tr class="data">
                    <th> {{ product.dimension }} </th>
                    <th> {{ product.peso }} kg </th>
                </tr>
            </tbody>
        </table>

        </div>
        
    </div>
    <div class="reviews">
        <h3> Reseñas: </h3>

        {% if user %}
            <div class="addReview">
                 <h4> Añadir una reseña: </h4>
                <form action="{{ post }}" method="post" id="form" class="addRform">
                    <input type="text" id="t" name="title" placeholder="titulo" maxlength="30">
                    <input type="range" id="r" name="range" min="1" max="5" value="3">
                    <h3> ⭐ </h3>
                    <textarea id="d" name="description" rows="4" cols="50", placeholder="Descripción" maxlength="100"></textarea>
                    <button type="submit"> Publicar </button>
                </form>
            </div>
        {% endif %}
        <div>
        <div class="reviewL" id="rev">
            <h3> Lista de reseñas: </h3>
        {% if reviews %}
            <ul>
            {% for review in reviews %}
                <li class="rev">
                    <h4> {{ review[2] }} </h4>
                    <h5> Escrita por: {{ review[0] }} </h5> 
                    {% for i in range(review[4]) %}
                    <p id="star" > ⭐ </p>
                    {% endfor %}
                    <p> {{ review[3] }} </p>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <h3> No hay reseñas aún </h3>
        {% endif %}
        </div>

        <div class="starC" id="rev">
            <h3> Calificaciones del Producto </h3>
            {% if reviews %}
            <h4> {{ calif.avg }} de 5 🌟 </h4>
            <h4> {{ calif.sum }} reseñas </h4>
            <h5> 5 Estrellas {{ calif.Fstarsper }} %</h5>
            <h5> 4 Estrellas {{ calif.Fostarsper }} %</h5>
            <h5> 3 Estrellas {{ calif.Tstarsper }} %</h5>
            <h5> 2 Estrellas {{ calif.Tostarsper }} %</h5>
            <h5> 1 Estrella {{ calif.Ostarsper }} %</h5>
            {% else %}
            <h4> Aún no hay reseñas </h4>
            {% endif %}
        </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/postR.js') }}"></script>
</body>
</html>