<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/formsStyles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/icon.png') }}" type="image/x-icon">
</head>
<body>
    <form action="/register-new-user" method="POST" class="form-box">
        <h2 class="title"> Registrarse </h2>
        <input type="text" name="username" maxlength="50" placeholder="Nombre de Usuario" autocomplete="off">
        <input type="text" name="mail" maxlength="100" placeholder="Correo Electronico" autocomplete="off">
        <input type="password" name="password" maxlength="19" placeholder="Contraseña" autocomplete="off">
        <button type="submit"> Registrar </button>
    </form>
</body>
</html>