<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navS.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/searchS.css') }}">
    
    <link rel="icon" href="{{ url_for('static', filename='icons/icon.png') }}" type="image/x-icon">
    <title>Resultados para {{ SearchTerm }}</title>
</head>
<body class="theme-{{ theme }}">
    {% include 'navbar.html' %}

    <div class="content">
        <div class="results">
            <h2 id="t"> Resultados para {{ SearchTerm }} </h2>
            <div class="resultL">
                {% if products %}
                    {% for fila in products|batch(3) %}
                        <div class="fila">
                            {% for product in fila %}
                        <a href="/product/{{ product[0] }}">
                            <div class="product">
                                <img src="{{ url_for('static', filename='Uploaded_img/' + product[0]|string + '.png') }}">
                                <h3> {{ product[1] }} </h3>
                                <p> $ {{ product[2] }} </p>
                            </div>
                        </a>
                    {% endfor %}
                        </div>
                    {% endfor %}

                {% else %}
                <h1> No hay resultados para {{ SearchTerm }} </h1>
                {% endif %}
            </div>

        </div>

    </div>

</body>
</html>