/* FONTS */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_28pt-SemiBold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-Light.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-LightItalic.ttf') format('ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_28pt-SemiBoldItalic.ttf') format('ttf');
    font-weight:700;
    font-style: italic;
}

@font-face {
    font-family: 'InterB';
    src: url('../fonts/Inter_18pt-Bold.ttf') format('ttf');
    font-weight:700;
    font-style: normal;
}



html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.content {
    margin-top: 70px;
    padding: 20px;

    width: 100%;
    height: 500px;
    background-image: url('../img/backg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.prT a{
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    border: 1px solid white;
    
}

.prT a:hover{
    color: black;
    background-color: #BCA37F;
    text-shadow: 0px 0px 0px;
}

.prT {
    margin-top: 110px;
    margin-left: 220px;
}

.prT h1{
    font-size: 60px;
}

.imgf {
    float: right;         /* Hace que la imagen flote a la izquierda */
    margin-right: 200px;  /* Espacio entre la imagen y el texto */
    width: 300px;        /* Ancho de la imagen */
    height: auto;        /* La altura se ajusta proporcionalmente */
    margin-top: 50px;
}

/* PRODUCTS STYLES */

.products{
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
    text-align: center;
}

.products a{
    color: black;
    text-decoration: none;
}

.product:hover{
    background-color: #BCA37F;
}


.product {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 250px;
    padding: 20px 20px;
    margin: 20px;
    height: 300px;
    transition: 0.2s;

    align-items: center;
    justify-content: center;
    text-align: center;
}

.product *{
    margin-bottom: 10px;
}

.products #t{
    font-size: 30px;
    margin-bottom: 20px;
}

.product img{
    width: 80%;
    height: 60%;
    margin: 15px;
}

/* CONTACT STYLES */

.contact{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../img/back-c.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 70px;
    padding: 20px;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.contact form{
    background-color: #BCA37F;
    width: 60%;
    height: auto;
    padding: 40px 40px;
    border-radius: 10px;
    margin-left: 250px;
    text-align: center;
}

.contact .firstR *, .secondR *, .contact textarea{
    margin-bottom: 10px;
    display: inline-block;
}

.contact button{
    display: block;
}


