@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_28pt-SemiBold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-Light.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-LightItalic.ttf') format('ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_28pt-SemiBoldItalic.ttf') format('ttf');
    font-weight:700;
    font-style: italic;
}

@font-face {
    font-family: 'InterB';
    src: url('../fonts/Inter_18pt-Bold.ttf') format('ttf');
    font-weight:700;
    font-style: normal;
}

/* NAVBAR STYLES */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: white;
    border: 1px solid transparent;
    overflow: hidden;
    position:fixed;
    top: 0%;
    left: 0%;
    width:100%;
    z-index: 1000;
  }
  
  /* Estilo para los enlaces */
.navbar a {
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    transition: 0.2s;
    width: auto;
    height: auto;
    border: 1px solid transparent;
    border-radius: 7px;
}

.left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar a:hover{
    background-color: #EAD7BB;
    color: rgb(0, 0, 0);
    border: 1px solid transparent;
    transition: 0.1s;
}

.navbar .center form{
    display: flex;
    align-items: center;
}

.navbar input{
    display:flex;
    width: 500px;
    height: 30px;
    border-radius: 13px;
    color: black;
    transition: 0.25s ;
}

.navbar input::placeholder { 
    text-align: center;
}

.navbar input:hover, .navbar ul li input:focus{
    width: 520px;
    color: black;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
