

.content {
    margin-top: 70px;
    padding: 20px;
}

/* CSS DEL CONTENT */

.results{
    margin-left: 20px;
}


.fila {
    display: block;
    align-items: center;
    padding: 10px 10px;
}

.product{
    display: inline-block; /* Alinea los divs horizontalmente */
    padding: 20px;
    margin: 10px;
    vertical-align: top;

    width: 330px;
    height: 220px;
    border: 2px solid black;
    border-radius: 20px;
    transition: 0.2s;
}

.product h3{
    font-style: italic;
    font-weight: 400;
}

.product img{
    width: 100px;
    height: 100px;

    align-self: center;
}


.product:hover{
    width: 360px;
    background-color: #9CC2D9;
}

.fila a{
    text-decoration: none;
    color: black;
}

.results #t{
    font-family: 'InterB', sans-serif;
    font-weight: 700;
}