

.content {
    margin-top: 70px;
    padding: 20px;
}

/* CSS DEL CONTENT */

.results{
    margin-left: 20px;
    display: grid;
    place-items: center;
}


.fila {

    align-items: center;
    padding: 10px 10px;
}


.product:hover{
    background-color: #BCA37F;
}


.product {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 250px;
    padding: 20px 20px;
    margin: 20px;
    height: 300px;
    transition: 0.2s;

    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: top;
}

.product *{
    margin-bottom: 10px;
}

.products #t{
    font-size: 30px;
    margin-bottom: 20px;
}

.product img{
    width: 80%;
    height: 60%;
    margin: 15px;
}

.fila a{
    text-decoration: none;
    color: black;
}

.results #t{
    font-family: 'InterB', sans-serif;
    font-weight: 700;
}

/* DARK STYLES */
.theme-1{
    background-color: #0D1117;
    color: white;
}

.theme-1 .product:hover{
    background-color: #212830;
}

.theme-1 .product {
    border: 1px solid white;
}

.theme-1 .fila a{
    color: white;
}

