.content {
    margin-top: 70px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

body{
    background-image: url('../img/backg.jpg');
}

.content .left{
    float: left;
    width: 25%;
    margin: 10px;
    height: auto;
    padding: 15px 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.profile-pic {
    width: 150px; /* Puedes ajustar el tamaño según sea necesario */
    height: 150px;
    border-radius: 50%; /* Esto crea la forma circular */
    object-fit: cover; /* Para asegurarse de que la imagen no se deforme */
    border: 3px solid #ddd; /* Un borde opcional */      
    display: block;        
}

.user-data{
    display: block;
    text-align: center;
}

.user-data h1, h2 {
    display: inline-block;
    margin-right: 10px;
}

.content .left .user-data #id{
    color: gray;
}

.user-data #mail{
    display: block;
}

.savedP{
    display: block;
    width: 95%;
    float: none;
    margin-top: 20px;
}

.savedP a{
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.savedP a:hover{
    background-color: #BCA37F;
}

.savedP h3{
    margin-bottom: 9px;
    display: block;
}

.savedP .prod{
    border: 1px solid black;
    display: block;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 10px 10px;
}

.content .right{
    float: right;
    width: 70%;
    margin: 10px;
    border-radius: 12px;
    padding: 20px 20px;
    height: auto;
    flex-direction: column;
    background-color: white;
}

.review{
    display: block;
    width: 95%;
    border: 1px solid black;
    padding: 10px 10px;
    margin-bottom: 7px;
    border-radius: 8px;
    float: none;
}

.review *{
    margin-bottom: 6px;
}

.review .sec{
    display: inline-block;
}

.right h3{
    display: block;
    margin-bottom: 10px;
}

.c {
    display: inline-block;
    padding: 10px 10px;

    margin-top: 10px;
}

.c #form button{
    width: 40px;
    height: 40px;
}

.c #edit{
    width: 60px;
    height: 40px;
}