* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #9CC2D9;
    overflow: hidden;
    position:fixed;
    top: 0%;
    left: 0%;
    width:100%;
    z-index: 1000;
}

.navbar form{
    display: inline-block;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;

    transition: 0.2s;
}

.content {
    margin-top: 70px;
    padding-top: 30px ;
    padding-left: 80px;
}

.navbar ul li a:hover {
    background-color: #000000;
    color: white;
}

.navbar ul li input{
    display:inline-block;
    width: 500px;
    height: 30px;
    border-radius: 13px;
    background-color: #9CC2D9;
    color: black;
    transition: 0.25s ;
}

.navbar ul li input::placeholder { 
    text-align: center;
}

.navbar ul li input:hover, .navbar ul li input:focus{
    width: 800px;
    color: white;
    text-align: center;
}

body {
    font-family: 'Inter', sans-serif;
}

h3, h1 {
    text-align: justify; /* Para justificar el texto, si es necesario */
}   

.profile-pic {
    width: 150px; /* Puedes ajustar el tamaño según sea necesario */
    height: 150px;
    border-radius: 50%; /* Esto crea la forma circular */
    object-fit: cover; /* Para asegurarse de que la imagen no se deforme */
    border: 3px solid #ddd; /* Un borde opcional */

    float: left;       
    margin-right: 50px;          
}

.user-data h1, h2 {
    display: inline-block;
    margin-right: 10px;
}

.user-data #id{
    color: gray;
}

.user-data #mail{
    display: block;
}

.r-s {
    margin-top: 70px;
    padding-top: 30px ;
    padding-left: 80px;
}

.reviews {
    width: 48%;
    height: auto;
    display: inline-block;
    border: 1px solid;
    border-radius: 12px;
    margin-left: 10px;
    padding: 15px 10px;
    vertical-align: top;
}

.saved {
    width: 48%;
    height: auto;
    display: inline-block;
    border: 1px solid;
    border-radius: 12px;
    padding: 15px 10px;
    vertical-align: top;
}

.reviews h3, .saved h3{
    padding-bottom: 20px;
}

.reviews .sec{
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 10px;
}

.review, .save{
    padding: 6px 6px;
    margin: 6px 6px;
    border-radius: 12px;
    border: 1px solid;

}

.saved a{
    text-decoration: none;
    color: black;
}

.save:hover{
    background-color: #9CC2D9;
}
